.header__container {
  width: 100%;
  height: 774px;
  background: url("./img/header.png") no-repeat center / cover;
}

.header__logo {
  margin-bottom: 40px;
}

.header__center-items {
  width: 335px;
  height: 393px;
}

h1 {
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 400;
  line-height: 39.6px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(49, 49, 49, 1);
  margin: 0;
}

.header__center-items p {
  font-family: Golos Text;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;

  color: rgba(49, 49, 49, 1);
  margin-bottom: 32px;
}

.header__buttons {
  display: flex;
  flex-direction: column;
}

.header__first-button {
  width: 100%;
  height: 47px;
  background: rgba(31, 31, 31, 1);

  color: rgba(255, 255, 255, 1);
  font-family: Golos Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: center;

  border: 2px solid rgba(31, 31, 31, 1);
  border-radius: 66px;
  margin-bottom: 16px;
}

.header__second-button {
  width: 100%;
  height: 47px;
  background: rgba(255, 255, 255, 1);

  color: rgba(31, 31, 31, 1);
  font-family: Golos Text;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: center;

  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 66px;
}

.container {
  width: 335px;
  height: auto;
  margin: 0 auto;
}

.main__top-items {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  align-items: center;
  margin-bottom: 210px;
}

h2 {
  width: 335px;
  height: 152px;

  font-family: Merriweather;
  font-size: 28px;
  font-weight: 400;
  line-height: 37.8px;
  text-align: left;

  text-transform: uppercase;
}

.main__top-items span {
  position: relative;
  top: 300px;
  text-align: left;
}

.img-game-of-chess {
  width: 335px;
  margin: 0;
  margin-top: 24px;
}

.main__center-items {
  display: flex;
  flex-direction: column;
}

.img-thoughtful-man {
  width: 335px;
  margin-bottom: 24px;
}

.center-items-info {
  width: 335px;
  height: 228px;
  margin-bottom: 44px;
}

.center-items-info h2 {
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 400;
  line-height: 37.8px;
  text-align: left;
}

.table {
  border-collapse: collapse;
  margin-bottom: 40px;
}

.main__center-items-info p {
  width: 335px;

  font-family: Golos Text;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.main__bottom-items-title {
  display: flex;
  flex-direction: column;
}

.main__bottom-items-title p {
  width: 335px;
  height: 44px;

  font-family: Golos Text;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;

  color: rgba(48, 87, 162, 1);
  top: 12px;
  right: 0px;
  margin-bottom: 118px;
}

.main__bottom-items {
  display: grid;
  row-gap: 0;
  margin-bottom: 28px;
}

.item-stage {
  display: flex;
  justify-content: center;
  width: 335px;
  height: 150px;
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.stage-info {
  width: 243px;
}

.img-airplane {
  position: absolute;
  top: 3000px;
  left: 0;
}

.item-stage:nth-child(1) {
  display: flex;
  padding-top: 42px;
}

.item-stage:nth-child(2) {
  display: flex;
}

.item-stage:nth-child(3) {
  display: none;
  height: 300px;
  margin-left: -40px;
  padding-top: 42px;
}

.item-stage:nth-child(4) {
  display: none;
  padding-top: 42px;
}

.item-stage:nth-child(5) {
  display: none;
}

.item-stage:nth-child(6) {
  display: none;
  height: 300px;
  padding-top: 42px;
}

.item-stage:nth-child(7) {
  display: none;
  width: 315px;
  height: 300px;
  padding-top: 42px;
}

.main__footer-buttons {
  display: flex;
  justify-content: center;
}

.footer-buttons-slider {
  display: flex;
}

.footer__top-items {
  display: block;
  height: 65px;
  margin-bottom: 60px;
}

.footer__top-items h2 {
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 400;
  line-height: 39.6px;
  text-align: left;
}

.slider-footer-buttons {
  position: relative;
  left: 93px;
  top: 480px;
}

.footer__container {
  margin-bottom: 150px;
}

.footer {
  width: 100%;
  height: 214px;
  background: rgba(233, 222, 212, 1);
}

.footer p {
  width: 335px;
  height: 114px;

  font-family: Golos Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: rgba(49, 49, 49, 1);
  opacity: 0.6;

  padding-left: 20px;
}
